<!--suppress HtmlFormInputWithoutLabel -->
<input
    type="email"
    class="w-[18em]"
    placeholder="{{{field_placeholder}}}"
    name="set-mail-from-options[from-email]"
    id="from-email"
    value="{{field_value}}"
/>
<span class="italic text-blue-400">
    {{field_description}}
</span>
