<div class="prose !max-w-none w-fit mt-2">
    <p class="italic">{{{description}}}</p>
    <div class="px-4 bg-white border border-gray-500 rounded-lg">
        <h4 class="text-red-800 mt-2">{{notes_title}}</h4>
        <ul class="leading-tight italic text-gray-500">
            {{#notes_list}}
                <li class="italic">{{{.}}}</li>
            {{/notes_list}}
        </ul>
    </div>
</div>
