<!--suppress HtmlFormInputWithoutLabel -->
<input
        type="email"
        minlength="1"
        class="w-48"
        placeholder="Sender's email"
        name="set-mail-from-options[from-email]"
        id="from-email"
        value="{{field_value}}"
/>
<span class="font-bold">px.</span>
<span class="italic text-blue-400">
    {{field_description}}
</span>
