<div class="tailwindcss-enabled">
    <div class="wrap">
        <h1>{{pageTitle}}</h1>
    </div>

    <!--suppress HtmlUnknownTarget -->
    <form action="options.php" method="post" class="wrap [&_h2]:text-xl">
        <div class="mt-4 pt-2 border-t border-gray-300">
            {{{settings_fields}}}
            {{{do_settings_sections}}}
        </div>
        <div class="border-t border-gray-300">
            {{{submit_button}}}
        </div>
    </form>
</div>
