<!--suppress HtmlFormInputWithoutLabel -->
<input
        type="text"
        minlength="2"
        class="w-48"
        placeholder="Sender's name"
        name="set-mail-from-options[from-name]"
        id="from-name"
        value="{{field_value}}"
/>
<span class="font-bold">px.</span>
<span class="italic text-blue-400">
    {{field_description}}
</span>
