<!--suppress HtmlFormInputWithoutLabel -->
<input
    type="text"
    class="w-[18em]"
    placeholder="{{{field_placeholder}}}"
    name="set-mail-from-options[from-name]"
    id="from-name"
    value="{{field_value}}"
/>
<span class="italic text-blue-400">
    {{field_description}}
</span>
